p.ex1 {
    margin-top: 250px;
}

a {
    color: #6a767c
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.valign {
    vertical-align: middle;
}

.table td {
    border-bottom: 0px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: gray;
}